@import "../style-constants.css";

/*
=============== 
Container
===============
*/
main {
  min-height: calc(100vh - 3rem);
  display: grid;
  place-items: center;
}
.quote-box {
  text-align: left;
  box-shadow: var(--light-shadow);  
  background: var(--clr-white);
  padding: 1rem;
  border-radius: var(--radius);
  margin-bottom: 2.5rem;
  max-width: 60vw;
  min-width: 60vw;
}
.quote-box h2 {
  background: var(--clr-white);
  color: var(--clr-primary-5);
  padding: 1rem;
  border-radius: var(--radius);
  box-shadow: var(--light-shadow);
  margin-bottom: 2.5rem;
  
  border: 1px solid var(--clr-primary-5);
  
  
}
.color {
  color: var(--clr-primary-5);
}

#author {
  font-size:1rem;
  text-align:right;
}

#tweet-quote{
  font-size:0.75rem;
  float:right;
}

#new-quote {
  float:left;
  font-size:1rem;
}

